<div class="row">
  <div class="span4">
    <%= render 'mailbox/folders' %>
  </div>
  <div class="span8">
    <% if is_conversation %>
     <%= render 'conversations/form' %>
    <% else %>
     <%= render partial: 'conversations/conversation', collection: messages %>
    <% end %>
  </div>
</div>