<nav class="mailbox">
  <ul>
    <%= content_tag :li, link_to(fa_icon('pencil', text: "Compose"), new_conversation_path) %>
    <%= content_tag :li, link_to(fa_icon('inbox', text: "Inbox (#{unread_messages_count})"), mailbox_inbox_path), class: active_page(:inbox) %>
    <%= content_tag :li, link_to(fa_icon('paper-plane', text: "Sent"), mailbox_sent_path), class: active_page(:sent) %>
    <%= content_tag :li, link_to(fa_icon('trash', text: "Trash"), mailbox_trash_path), class: active_page(:trash) %>
  </ul>  
</nav>