$pink:#FFABAB;
$pink-shade:#E59999;

$cream:#FFDAAB;
$cream-shade:#E5C399;

$green:#DDFFAB;
$green-shade:#C6E599;

$blue:#ABE4FF;
$blue-shade:#99CCE5;

$lavender:#D9ABFF;
$lavender-shade:#C299E5;

$bg-color:#f2f2f2;
$hero-font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
$hero-font-color:#FFFFFF;

$body-font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;

$footer-bg-color:#292C32;