$font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;

$blue:#3fb8e8;
$blue-shade:#3293ba;
$blue-shade-2:#1baae3;
$dark-blue:#474D5D;

$yellow:#fdc058;
$yellow-shade:#e29003;
$yellow-shade-2:#fdb53a;

$red:#f06060;
$red-shade:#cd1313;
$red-shade-2:#ED4444;

$gray:#EEEEEE;
$gray-shade:#bdc3c7;

$bg-color:$gray;
$hero-font-family:$font-family;
$hero-font-color:#FFFFFF;

$body-font-family:$font-family;
$body-font-color:$dark-blue;

$li-padding:15px;