$blue:#3fb8e8;
$blue-shade:#3293ba;
$blue-shade-2:#1baae3;

$yellow:#fdc058;
$yellow-shade:#e29003;
$yellow-shade-2:#fdb53a;

$red:#f06060;
$red-shade:#cd1313;
$red-shade-2:#ed4444;

$gray:#f2f2f2;
$gray-shade:#bdc3c7;

$bg-color:$gray;
$hero-font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
$hero-font-color:#FFFFFF;

$body-font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;

$footer-bg-color:#292C32;