@import 'variables';

.lang-nav {
  a {
    &:hover {text-decoration:none;}
  }
  &:hover > .drop-lang {
    display:block;
  }
  img {
    float: left;
    margin:1px 5px 0 0;
    width:23px;
    height:17px;
  }
}
.drop-lang {
  a {
    display:inline-block;
    padding:$li-padding;
  }
  list-style-type:none;
  position:absolute;
  display:none;
  background-color:white;
  color:$body-font-color;
  li {
    &:hover {
      background-color:$gray;
    }
  }
}