@import 'variables';
// ---- START HELPER CLASSES ---- //
.center { text-align:center; }
.leftfloated { float:left; }
.rightfloated { float:right; }
.left-align { text-align:left; }
.right-align { text-align:right; }
.no-margin { margin:0; }
// Easily make full-width elements
@mixin full-width {width:100%; margin:0 auto; overflow:hidden;}
// ---- END HELPER CLASSES ---- //

header {
  @include full-width;
  min-height:25em;
  background-image: image-url("London.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $hero-font-color;
  font-family: $hero-font-family;
  h1 {
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

footer {
  background:none repeat scroll 0 0 $footer-bg-color;
  padding:1.25rem;
  overflow: hidden;
}

body {
  background-color:$bg-color;
  font-family:$body-font-family;
}

a {
  text-decoration:none;
  color:inherit;
  &:hover{
    text-decoration: underline;
  }
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: $gray-shade -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-style: solid none none;
  border-width: 1px 0 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1,h2,h3,h4,h5,h6 {
  font-family:$hero-font-family;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizelegibility;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0;
}