<% if params[:controller] == 'rooms' && params[:action] == 'index' %>
<div class="search">
	<div class="container">
		<div class="row">
			<div class="span3"></div>
			<div class="span6 center">
				<%= content_tag :h3, t('.search_tip') %>
				<%= form_tag rooms_path, :method => "get", :class => "form-group" do %>
					<%= text_field_tag :search, params[:search], :class => "form-control", placeholder: t('.search_placeholder') %>
					<%= submit_tag t('.search'), :class => "button button-default" %>
				<% end %>
			</div>
			<div class="span3"></div>
		</div>
	</div>
</div>
<% end %>