<div class="search">
	<div class="container">
		<div class="row">
			<div class="span3"></div>
			<div class="span6 center">
				<h3>Find a flat by station name or postcode:</h3>
			</div>
			<div class="span3"></div>
		</div>
	</div>
</div>